# Archivos del sistema operativo (Windows / macOS)
desktop.ini
Thumbs.db
.DS_Store
*.ini

# Editores y IDEs
.vscode/
.idea/
*.suo
*.user

# Node / Dependencias
node_modules/
npm-debug.log*

# Variables de entorno
.env
.env.local